header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0 ;
    align-items: center;
}

.caixa {
    width: 940px;
    margin: auto;
}

li{
    color: white;
    text-align: center;
    text-shadow: 5cap;
}
ul{
    margin-top: 40px;
}
h1{
    text-align: center;
}
.nav-bar li{
    display: inline;

    

}
.nav-bar{
    text-align: center;


}
.nav-bar a{
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    font-size:  25px;
    text-decoration: none;
    margin-left: 40px;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtGSKcTRN5KqBpepaK8pUzKRD-K6smuD6-5zRXN_QXwcvCqeU5oi0PWCUFPlly_O8DKFA&usqp=CAU);

}

.logo-nav {
    margin-left: 80px;
    width: 100px;
}
.logo {
    width: 250px;
    

}
.produtos {
     width: 940px;
     margin: 0 auto;
     padding: 50px 0;

}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 1px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
}

main {
    margin-top: 50px;
}

nav a:hover {

    color:orange;
    text-decoration: underline;
    
}

.prdutos li:hover {

    border-color: orange;
}

.prdutos li:active {

    border-color: orange;
}

.produtos li:hover h2 {

    font-size: 34px;
}
