header {
    background-color:white;
    padding: 20px 0 ;
    border: 10px;
    margin: 20px;
    border-style: dotted;
}
li{
    color: white;
    text-align: center;
    text-shadow: 5cap;
}
ul{
    background-color:grey;
}
h1{
    text-align: center;
}
nav li{
    display: inline;
    margin: 0 0 34px 15px;

}
.home123{
    text-align: center;

}
nav a{
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    font-size:  22px;
    text-decoration: none;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtGSKcTRN5KqBpepaK8pUzKRD-K6smuD6-5zRXN_QXwcvCqeU5oi0PWCUFPlly_O8DKFA&usqp=CAU);

}

.caixa {
    position: relative;
    width: 940px; 
    margin: 0 auto;
}
