body {
color-scheme: calc(body);
 background-color: gray;
 background-image: url(https://img.elo7.com.br/product/zoom/28A4557/papel-de-parede-autocolante-para-barbearia-retro-fundo-preto-papel-de-parede.jpg);
 
}

h2 {
    color-interpolation-filters: sRGB;
    text-align: center;
    color: white;
}

p {

text-align: center;
font-style: oblique;
font-size: 2vh;
color: white;
}

h6 {text-align: center;

    font-size: 20px;
    color: white;
}

h3 {
    text-align: center;
    color: white;
    font-size: 5vh;
}

h1{
    text-align: center;
    color: white;
}


#banner {
    width: 100%;    
}

div {
    background-color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tabela {
      background-color: grey;
      width: 80%;
      margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color:white;
    align-items: center;
    
}
.Mensal {
    text-align: center;
    margin-right: 50px;
}
 form{
    margin: block;

 }
  form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: aliceblue;
  }
  
  form imput{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
  }

